/* mobile devices */

@media screen and (max-width: 576px) {
    .header{
        text-align: center;

    }
    .nav-container {
        height: 490px;
        flex-direction: column;
        gap: 60px;
        width: 100%;
        box-shadow: none;
        align-items: center;
    }
    .logo-container {
        justify-content: center;
        margin-top: 100px;
    }
    .item-container {
        justify-content: center;
        flex-direction: column;
        gap: 35px;
     
    }
     .item-container li {
       margin: auto;
     
    }
    .header-banner{
        flex-direction: column;
        
    }
    .banner-left-img{
        width: 100%;
        height: 100vh;
    }
    

    .hdimg2 img{
        width:100vw;
        margin-bottom: 25px;
    }

.picbanner{
    background-color: none;
}
    .resize{
       flex-direction: column;
       background-color: none;
        width: 100%;
        height: auto;
        object-fit: cover;
    
    }
    .bannerimgpng{
        background-color: none;
        width: 80%;
        margin: auto;
        height: auto;
        object-fit: cover;}
    .bannerimgpng .rawimg{
        width: 50%;
        height: auto;
        object-fit: cover;

    }

    .picbannertext{
        width: fit-content;
    }
    .picbannertext, .picbannertext p, .picbannertext h1, .picbannertext h2{
        text-align: center;

    }



    .online-games {
        grid-template-columns: repeat(1, 1fr);
      }




      .downloadstats{
        flex-direction: column;

      }
      .downloadstats, .download-img, .download-bottomimg, .download-text{
        display: block;
        margin: 0px;
      }
      .download-img {
        width: 10%;
        position: relative;flex-direction: column;
      }
      .download-bottomimg {
        height: 70px;
        width:70px;
        position: absolute;
        top: 50%;
        left: 55%;flex-direction: column;
      }
      .download-text h2, .download-text p{
        display: block;
        margin-left: -110px;
        padding: 0px;flex-direction: column;

      }
      .download-text p {
        color: #534C64;
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 166.667% */
        width: 100%;
    
      }
      .game-container{
        flex-direction: column;
      }




}


/* tablet devices */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .nav-container{
        flex-direction: column;
    }

    .online-games {
        grid-template-columns: repeat(2, 1fr);
      }

      .header-banner{
        flex-direction: column;
        
      }
      .banner-left-img{
        width: 100%;
        height: 100vh;
    }
    

    .hdimg2 img{
        width:100vw;
        margin-bottom: 25px;
    }
      .game-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
      }


      .resize{
        flex-direction: column;
        background-color: none;
         width: 100%;
         height: auto;
         object-fit: cover;
     
     }
     .bannerimgpng{
         background-color: none;
         width: 80%;
        margin: auto;
        height: auto;
         object-fit: cover;}
     .bannerimgpng .rawimg{
         width: 100%;
         height: auto;
         object-fit: cover;
 
     }
 
     .picbannertext{
         width: fit-content;
     }
     .picbannertext, .picbannertext p, .picbannertext h1, .picbannertext h2{
         text-align: center;
 
     }
     .downloadstats{
        flex-direction: column;

      }
      .downloadstats, .download-img, .download-bottomimg, .download-text{
        display: block;
        margin: 0px;
      }
      .download-img {
        width: 10%;
        position: relative;flex-direction: column;
      }
      .download-bottomimg {
        height: 70px;
        width:70px;
        position: absolute;
        top: 50%;
        left: 55%;flex-direction: column;
      }
      .download-text h2, .download-text p{
        display: block;
        margin-left: -110px;
        padding: 0px;flex-direction: column;

      }
      .download-text p {
        color: #534C64;
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 166.667% */
        width: 100%;
    
      }

}